---
layout: default
---
<main class="container">
  <div class="row">
    <div class="col-2">
      <h1 id="site-title" class="title">{{ site.title }}</h1>
      <p class="lead">
        {{ site.desc }}
      </p>
      <article>
        <h1>Posts</h1>
      </article>
      {% for post in paginator.posts %}
      <article>
        <h1 class="title"><a class="title-link" href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a></h1>
        <p>{{ post.excerpt }}</p>
        <a class="read-link" href="{{ post.url | prepend:site.baseurl }}">[ Read ]</a>
      </article>
      {% endfor %}
      {% include buttons.html %}
    </div>
    {% include sidebar.html %}
  </div>
</main>
