<div class="buttons">
{% if paginator.previous_page %}
    <span class="button">
        <a href="{{ paginator.previous_page_path | prepend:site.baseurl }}">[ <- Previous ]</a>
    </span>
{% else %}
{% endif %}
{% if paginator.next_page %}
    <span class="button">
        <a href="{{ paginator.next_page_path | prepend:site.baseurl }}">[ Next -> ]</a>
    </span>
{% else %}
{% endif %}
</div>
