<div class="col-1">
    <div class="side-board">
        <h1>About</h1>
        <img class="about" src="{{ site.image.src }}"
                    alt="{{ site.image.alt }}"/>
        <p class="lead">{{ site.about }}</p>
    </div>
</div>
