<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8">
        <title>
            {% if post.title %}{{ post.title }}
                •
            {% else %}
            {% endif %}{{ site.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Cutive+Mono">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link rel="stylesheet" href="{{ "/css/style.css" | prepend:site.baseurl }} ">
    </head>
    <body>
        {{ content }}
    </body>
</html>
