---
layout: default
---
{% assign post = page %}
<main class="container">
    <div class="row">
        <div class="col-2">
            <a href="{{ site.baseurl }}">[ Home ]</a>
            <article>
                <h1>{{ post.title }}</h1>
                <small>{% include post_date.html %}</small>
                <p>{{ content }}</p>
            </article>
            {% include buttons.html %}
        </div>
        {% include post_sidebar.html %}
    </div>
</main>
